# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Env
.env*
!.env.example

# Pytest
.pytest_cache/

# Data
data/db/*.db
data/processed/
data/eval/retrieval_eval_report.json

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json